<div class='container-fluid' *ngIf="stage">

    <div class="row justify-content-center">
        <div class="titre">
            <h1>{{ stage.intitule }} - {{ stage.numero }}
                <br>
                {{ stage.dateDebut | date:'dd/MM/yyyy'}} - {{ stage.dateFin | date:'dd/MM/yyyy'}}<br>
                {{ stage.lieu }}
            </h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col lg-6">
            <!-- Mise en place de la barre d'ajout de stagiaire ou formateur pour les admins -->
            <div class="card m-3" *ngIf="role === 'ADMIN'">
                <h5 class="card-header">Ajouter un agent au stage</h5>
                <div class="card-body">
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="form-row">
                            <div class="form-group col-6">
                                <label>Selectionner un agent</label>
                                <select formControlName="agent" class="form-control"
                                    [ngClass]="{'is-invalid':submitted && f.agent.errors}">
                                    <option value=""></option>
                                    <option [ngValue]="agent" *ngFor="let agent of agentList">
                                        {{ agent.nom }} - {{ agent.prenom}} - {{agent.centre.nom }}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.agent.errors" class="invalid-feedback">
                                    <div *ngIf="f.agent.errors.required">Selectionner un agent</div>
                                </div>
                            </div>
                            <div class="form-group col-6">
                                <label>Selectionner un status</label>
                                <select formControlName="status" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                                    <option value="Stagiaire">Stagiaire</option>
                                    <option value="Formateur">Formateur</option>
                                </select>
                                <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                                    <div *ngIf="f.status.errors.required">Selectionner un status pour l'agent</div>
                                </div>
                            </div>
                            <button id="validAgent" class="btn btn-link">Ajouter l'agent</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col" *ngIf="role === 'ADMIN'">
                <div class="row center">
                    <div class="col-5">
                        <button id="delete" class="btn btn-link" (click)="deleteStage(stage)">
                            Supprimer le stage
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn btn-link" (click)="updateStage(stage)">
                            Modifier le stage
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <!-- Ajout d'une note de stage -->
        <div class="col" *ngIf="role === 'ADMIN'">
            <div class="card m-3">
                <h5 class="card-header">Ajouter une note au stage</h5>
                <div class="card-body">
                    <form [formGroup]="noteRegisterForm">
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="titre">Titre de la note du stage</label>
                                <input id="titre" type="text" formControlName="titre" class="form-control"
                                    [ngClass]="{'is-invalid':noteSubmitted && fNote.titre.errors}" />
                                <div *ngIf="noteSubmitted && fNote.titre.errors" class="invalid-feedback">
                                    <div *ngIf="fNote.titre.errors.required">Veuillez entrer un titre</div>
                                </div>
                            </div>
                            <div class="form-group col-12">
                                <label for="note">Note du stage</label>
                                <textarea id="note" formControlName="note" class="form-control"
                                    [ngClass]="{'is-invalid':noteSubmitted && fNote.note.errors}"></textarea>
                                <div *ngIf="noteSubmitted && fNote.note.errors" class="invalid-feedback">
                                    <div *ngIf="fNote.note.errors.required">Veuillez entrer une note</div>
                                </div>
                            </div>
                            <button id="valid" class="btn btn-link" [disabled]="noteRegisterForm.invalid" (click)="onNoteSubmit()">Ajouter la note</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <hr><br>

    <div class="row justify-content-center">
        <div class="col">
            <h2>Stagiaire</h2>
            <div class="card horizontal hovrable">
                <div class="card-content">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Prénom</th>
                                <th scope="col">Centre</th>
                                <th scope="col">Status</th>
                                <th scope="col">---</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let agentStage of agentStageList">
                            <tr *ngIf="agentStage.status ==='Stagiaire'">
                                <td>{{ agentStage.nomAgent }}</td>
                                <td>{{ agentStage.prenomAgent }}</td>
                                <td>{{ agentStage.nomCentre }}</td>
                                <td>{{ agentStage.status }}</td>
                                <td *ngIf="role === 'ADMIN'">
                                    <button id="deleteAgent" class="btn btn-link"
                                        (click)="deleteAgentStage(agentStage.id)">
                                        Supprimer l'agent
                                    </button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col">
            <h2>Formateur</h2>
            <div class="card horizontal hovrable">
                <div class="card-content">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Prénom</th>
                                <th scope="col">Centre</th>
                                <th scope="col">Status</th>
                                <th scope="col">---</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let agentStage of agentStageList">
                            <tr *ngIf="agentStage.status ==='Formateur'">
                                <td>{{ agentStage.nomAgent }}</td>
                                <td>{{ agentStage.prenomAgent }}</td>
                                <td>{{ agentStage.nomCentre }}</td>
                                <td>{{ agentStage.status }}</td>
                                <td *ngIf="role === 'ADMIN'">
                                    <button id="deleteAgentFormateur" class="btn btn-link"
                                        (click)="deleteAgentStage(agentStage.id)">
                                        Supprimer l'agent
                                    </button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <hr>

    <!-- Note du stage -->
    <div class="row justify-content-center">
        <div class="col-md-12 col-xl-6" *ngIf="noteStageList">
            <h2>Note(s) du stage</h2>
            <div class="card m-3" *ngFor="let noteStage of noteStageList">
                <div class="card-header">{{ noteStage.titre }}
                    <button *ngIf="role === 'ADMIN'" id="deleteNote" class="btn btn-link"
                    (click)="deleteNoteStage(noteStage)">
                        Supprimer la note
                    </button>
                </div>
                <div class="card-body">
                    {{ noteStage.note }}
                </div>
            </div>
        </div>
    </div>

</div>
