.titre {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-header {
    color: white;
    background-color: rgb(60, 60, 60);
}

button {
    color: white;
    background-color: rgb(60, 60, 60);
}

#valid:hover {
    color: white;
    background-color: rgb(3, 90, 3);
    text-decoration: none;
}

button:hover {
    color: black;
    background-color: gray;
    text-decoration: none;
}

#delete:hover {
        background-color: rgb(135, 1, 1);
        color: white;
}

#deleteAgent {
    background-color: rgb(60, 60, 60);
    color: white;
}

#deleteAgent:hover {
    background-color: rgb(135, 1, 1);
    color: white;
}

#deleteNote {
    background-color: white;
    color: black;
    float: right;
}

#deleteNote:hover {
    background-color: rgb(135, 1, 1);
    color: white;
}

@media (max-width: 768px){
    button {
        font-size: xx-small;
        margin-top: 5px;
    }
    
    table {
        font-size: xx-small;
    }

    .thead-dark {
        margin-left: 0;
    }
    
  }