<div class="container-fuild">
  <div class="row justify-content-center">
    <div class="titre">
      <h1>Ajouter une ressource</h1>
    </div>
  </div>

  <hr><br>

  <div class="row justify-content-center">
    <div class="col-4">
      <div class="card horizontal hoverable">
        <div class="card-content">
          <div class="col-8 offset-2">
            <form [formGroup]="registrerRessourceForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="module">Module du document (PDF uniquement)</label>

                <select formControlName="module" class="form-control"
                  [ngClass]="{'is-invalid':submitted && f.module.errors}">
                  <option value="SUAP">SUAP</option>
                  <option value="INC">INC</option>
                  <option value="SR">SR</option>
                  <option value="AUTRES">Autres</option>
                </select>
                <div *ngIf="submitted && f.module.errors" class="invalid-feedback">
                  <div *ngIf="f.module.errors.required">Module à selectionner</div>
                </div>
              </div>

              <div class="form-group">
                <label for="file"></label>
                <input type="file" (change)="selectFile($event)"
                  [ngClass]="{'is-invalid':submitted && f.file.errors}" />
                <div *ngIf="submitted && f.file.errors" class="invalid-feedback">
                  <div *ngIf="f.file.errors.required">Fichier à insérer</div>
                </div>
              </div>

              <br>

              <div class="center">
                <div class="form-group">
                  <button id="valid" class="btn btn-link">Valider</button>
                  
                  <button id="retourButton" class="btn btn-link">
                    <a routerLink="/ressources/listRessource/SUAP">Retour</a>
                  </button>
                </div>
              </div>

            </form>

            <div class="alert alert-light" role="alert">{{ message }}</div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>