.titre {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    background-color: white;
    color: black;
    
}

button:hover {
    color: black;
    background-color: gray;
    text-decoration: none;
}

button:focus {
    background-color: gray;
    text-decoration: none;
    color: white;
}

button a {
    color: black;
}

#valid:hover {
    color: white;
    background-color: rgb(3, 90, 3);
}

#retourButton {
    margin-left: 30px;
}