nav {
  height: 225px;
  background-image: url("../../assets/images/anthracite.jpeg");  
  background-size: 100%;  
  background-size: cover;  
}

ul a {
  color: black;
  background-color: silver;
}

ul a:hover {
  background-color: rgb(126, 126, 126);
  text-decoration: none;
}

h1 {
  margin-left: 200px;
  font-size: 75px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.image {
  margin-left: 200px;
  opacity: 0.60;
}

#deconnexion:hover {
  background-color: rgb(135, 1, 1);
  color: white;
}

@media (max-width:2200px) {
  .image{
    display: none;
  }
  h1 {
    text-align: center;
  }
}



@media (max-width: 768px){
  .image{
    display: none;
  }

  h1{
    display: none;
  }

  .mobileHeader button {
    margin-left: 25px;
  }

  .mobileHeader li{
    display: block;
  }

}

@media (max-width: 1023px){
  .headerResponsive {
    display: none;
  }

  nav {
    height: 375px;
  }

}

@media (min-width: 1023px){
  .mobileHeader button{
    display: none;
  }

  .mobileHeader a {
    display: none;
  }

  .mobileHeader {
    display: none;
  }
}