<header class="header">
  <div class="mobileHeader">
    <nav class="navbar navbar">
      <div class="col-12">
        <br>
        <!-- MOBILE NAVBAR -->
        <ul id="mobile-navbar">
          <div routerLinkActive="active" *ngIf="!isAuth">
            <li><a class="btn btn-link" routerLink="/auth/signup">Créer un compte</a></li><br>
            <li><a class="btn btn-link" routerLink="/auth/signin">Connexion</a></li><br>
          </div>
          <div routerLinkActive="active-link" *ngIf="isAuth">
            <li><a id="deconnexion" class="btn btn-link" (click)="(deconnexion())" style="cursor:pointer"
                routerLink="/auth/signin">Déconnexion</a>
            </li>
            <li><a class="btn btn-link" routerLink="/agent/profil">Mon profil</a></li><br>
            <li routerLinkActive="active-link" *ngIf="role === 'ADMIN'">
              <a class="btn btn-link" routerLink="/agent/list-agent">Liste des agents</a>
            </li><br>
            <li routerLinkActive="active-link" *ngIf="role === 'ADMIN'">
              <a class="btn btn-link" routerLink="/stage/list-stage">Liste des stages</a>
            </li><br>
            <li routerLinkActive="active-link" *ngIf="isAuth">
              <a class="btn btn-link" routerLink="/ressources/listRessource/SUAP">Liste des ressources</a>
            </li>
          </div>
        </ul>
      </div>
    </nav>
  </div>

  <div class="headerResponsive">
    <nav class="navbar navbar-inverse">
      <ul class="left hide-on-med-and-down">
        <div routerLinkActive="active" *ngIf="!isAuth">
          <li><a class="btn btn-link" routerLink="/auth/signup">Créer un compte</a></li>
          <li><a class="btn btn-link" routerLink="/auth/signin">Connexion</a></li>
        </div>
        <div routerLinkActive="active-link" *ngIf="isAuth">
          <li><a id="deconnexion" class="btn btn-link" (click)="(deconnexion())" style="cursor:pointer"
              routerLink="/auth/signin">Déconnexion</a>
          </li>
          <li><a class="btn btn-link" routerLink="/agent/profil">Mon profil</a></li>
          <li routerLinkActive="active-link" *ngIf="role === 'ADMIN'">
            <a class="btn btn-link" routerLink="/agent/list-agent">Liste des agents</a>
          </li>
          <li routerLinkActive="active-link" *ngIf="role === 'ADMIN'">
            <a class="btn btn-link" routerLink="/stage/list-stage">Liste des stages</a>
          </li>
          <li routerLinkActive="active-link" *ngIf="isAuth">
            <a class="btn btn-link" routerLink="/ressources/listRessource/SUAP">Liste des ressources</a>
          </li>
        </div>
      </ul>

      <div class="titre">
        <h1>Zone de formation</h1>
      </div>
      <div class="image">
        <img src="./../../assets/images/kisspng-flame-logo-fire-flame-totem-5aabf5886a3470.321390751521218952435.png"
          height="200">
      </div>

      <br>
      <hr>
    </nav>
  </div>
</header>