.titre {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
  background-color: rgb(60, 60, 60);
  color: white;
}

button:hover {
  color: black;
  background-color: gray;
  text-decoration: none;
}

button a {
  color: black;
}

.search {
  text-align: center;
}

@media (max-width: 768px){
  button {
      font-size: x-small;
  }
  
}