<div class='container-fluid'>

  <div class="row justify-content-center">
    <div class="titre">
      <h1>Liste des Agents</h1>
    </div>
  </div>

  <hr><br>

  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-6 col-xl-4">
      <div class="search">
        <agent-search></agent-search>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-8">
      <div class="card horizontal hovrable">
        <div class="card-content">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Grade</th>
                <th scope="col">Nom & Prénom</th>
                <th scope="col">Centre</th>
                <th scope="col">---</th>
              </tr>
            </thead>
            <tbody *ngFor="let agent of agentList">
              <tr *ngIf="!itsMe(agent)">
                <td>{{ agent.grade.intitule }}</td>
                <td>{{ agent.nom }} {{ agent.prenom }}</td>
                <td>{{ agent.centre.nom }}</td>
                <td>
                  <button class="btn btn-link" (click)="selectAgent(agent)">
                    Profil
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <h4 *ngIf="!agentList" class="center">
      <ressource-loader></ressource-loader>
    </h4>
  </div>
</div>