<div class="row justify-content-center">
  <div class="col-xs-12 col-md-6 col-xl-4">
    <div class="card">
      <div class="card-content">
        <div class="input-field">
          <input #searchBox (keyup)="search(searchBox.value)"
          placeholder="Entrer le nom ou prénom de l'agent">
        </div>

        <div class="collection">
          <a *ngFor="let agent of agent$ | async"
            class="collection-item" (click)="selectAgent(agent.matricule)">
            {{agent.nom}} - {{agent.prenom}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
