<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="titre">
      <h1>Modifier son mot de passe</h1>
    </div>
  </div>

  <hr><br>


  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-6">
      <div class="card m-3">
        <div class="card-body">
          <form [formGroup]="registrerForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
              <label for="oldPassword">Ancien mot de passe</label>
              <input type="password" formControlName="oldPassword" class="form-control"
                [ngClass]="{'is-invalid':submitted && f.oldPassword.errors}" />
              <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                <div *ngIf="f.oldPassword.errors.required">L'ancien mot de passe est requis</div>
                <div *ngIf="f.oldPassword.errors.confirmerOldValidator">L'ancien mot de passe n'est pas correct
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="newPassword">Nouveau mot de passe</label>
              <input type="password" formControlName="newPassword" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
              <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                <div *ngIf="f.newPassword.errors.required">Le nouveau mot de passe est requis</div>
                <div *ngIf="f.newPassword.errors.minlength">Le nouveau mot de passe doit contenir au moins 6 caractères.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="confirmationNewPassword">Confirmer votre nouveau mot de passe</label>
              <input type="password" formControlName="confirmationNewPassword" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.confirmationNewPassword.errors }" />
              <div *ngIf="submitted && f.confirmationNewPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmationNewPassword.errors.required">La confirmation du nouveau mot de passe est
                  requis</div>
                <div *ngIf="f.confirmationNewPassword.errors.confirmedValidator">Les mot de passe doivent être similaire
                </div>
              </div>
            </div>
            <div class="form-group">
              <button id="valid" class="btn btn-primary">Modifier son mot de passe</button>
              <button class="btn btn-link">
                <a routerLink="/agent/profil">Retour</a>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>