<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="titre">
      <h1>Modifier ses compétences</h1>
    </div>
  </div>

  <hr><br>

  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card m-3">
        <div class="card-body">
          <form *ngIf="agent" (ngSubmit)="onSubmit()" #editForm="ngForm">
            <tr>
              <td><strong>{{ agent.nom }} {{agent.prenom}}</strong></td>
            </tr>

            <!--      //  Modification des compétences de l'agent //-->

            <label for="competence">Compétences</label>
            <p *ngFor="let competence of competenceList">
              <label>
                <input type="checkbox" class="filled-in" id="{{competence}}" [value]="competence"
                  [checked]="hasCompetence(competence)" (change)="selectCompetence($event, competence)" />
                <span [attr.for]="competence">
                  {{competence.intitule}}
                </span>
              </label>
            </p>

            <label for="formateur">Êtes-vous formateur ?</label>
            <div *ngFor="let competenceAgent of competenceAgentList">
              <label>
                <input type="checkbox" [value]="competenceAgent.formateur"
                  (change)="changeFormateur($event, competenceAgent)" [checked]="hasFormateur(competenceAgent)" />
                <span [attr.for]="competenceAgent.formateur">
                  {{competenceAgent.competence.intitule}}
                </span>
              </label>
            </div>

            <!-- Submit button -->
            <div class="divider"></div>
            <div class="section center">
              <button type="submit" id="valid" class="waves-effect waves-light btn" [disabled]="!editForm.form.valid">
                Valider
              </button>
              <button class="btn btn-link">
                <a routerLink="/agent/profil">Retour</a>
              </button>
            </div>
          </form>
        </div>