.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* bordure verte */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* bordure rouge */
}

.titre {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
  background-color: rgb(60, 60, 60);
  color: white;
  margin-left: 30px;
}

button:hover {
  color: black;
  background-color: gray;
}

a {
  color: white;
}

.form-group {
  text-align: center;
}

.card  {
  border-radius: 10px;
}

#valid:hover {
  color: white;
  background-color: rgb(3, 90, 3);
}

@media (max-width: 1024px){
  button {
      margin-top: 5px;
  }
  
}