<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="titre">
      <h1>Modifier son profil</h1>
    </div>
  </div>

  <hr><br>

  <div class="row justify-content-center">
    <div class="col-sm-12 col-lg-6">
      <div class="card m-3">
        <div class="card-body">
          <form *ngIf="agent" (ngSubmit)="onSubmit()" #editForm="ngForm">
            <!-- Agent nom -->
            <div class="form-group">
              <label for="nom">Nom</label>
              <input type="text" class="form-control" id="nom" [(ngModel)]="agent.nom" name="nom" #nom="ngModel"
                required="required">
              <div [hidden]="nom.valid || nom.pristine" class="card-panel red accent-1">
                Vous devez renseignez un nom.
              </div>
            </div>

            <!-- Agent prenom -->
            <div class="form-group">
              <label for="prenom">Prénom</label>
              <input type="text" class="form-control" id="prenom" [(ngModel)]="agent.prenom" name="prenom"
                #prenom="ngModel" required="required">
              <div [hidden]="prenom.valid || prenom.pristine" class="card-panel red accent-1">
                Vous devez renseignez un prénom.
              </div>
            </div>

            <!-- Agent matricule -->
            <div class="form-group">
              <label for="matricule">Matricule</label>
              <input type="text" class="form-control" id="matricule" required pattern="^[0-9]{4}$"
                [(ngModel)]="agent.matricule" name="matricule" #matricule="ngModel">
              <div [hidden]="matricule.valid || matricule.pristine" class="card-panel red accent-1">
                Le matricule doit contenir 4 chiffres.
              </div>
            </div>

            <div class="form-group">
              <label for="grade">Grade</label>
              <select class="form-control" id="grade" name="grade" [(ngModel)]="agent.grade" #grade="ngModel">
                <option *ngFor="let grades of gradeList" [ngValue]="grades">{{grades.intitule}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="centre">Centre</label>
              <select class="form-control" id="centre" name="centre" [(ngModel)]="agent.centre" #centre=ngModel>
                <option *ngFor="let centres of centreList" [ngValue]="centres">{{centres.nom}}</option>
              </select>
            </div>

            <h3 *ngIf="!agent" class="center">Aucun agent à éditer...</h3>

            <!-- Submit button -->
            <div class="divider"></div>
            <div class="section center">
              <button type="submit" id="valid" class="btn btn-link" [disabled]="!editForm.form.valid">
                Valider
              </button>
              <button class="btn btn-link">
                <a routerLink="/agent/profil">Retour</a>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <h4 *ngIf="!agent" class="center">
    <ressource-loader></ressource-loader>
  </h4>
</div>