<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="titre">
            <h1>Ajouter un stage</h1>
        </div>
    </div>

    <hr><br>

    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-xl-6">
            <div class="card m-3">
                <div class="card-content">
                    <div class="card-body">
                        <form [formGroup]="addStageForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="intitule">Intitulé de stage</label>
                                <input type="text" formControlName="intitule" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.intitule.errors }" />
                                <div *ngIf="submitted && f.intitule.errors" class="invalid-feedback">
                                    <div *ngIf="f.intitule.errors.required">L'intitulé est requis</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="numero">Numéro de stage</label>
                                <input type="text" formControlName="numero" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.numero.errors }" />
                                <div *ngIf="submitted && f.numero.errors" class="invalid-feedback">
                                    <div *ngIf="f.numero.errors.required">L'intitulé est requis</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="dateDebut">Date de début</label>
                                <input type="date" formControlName="dateDebut" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.dateDebut.errors }" />
                                <div *ngIf="submitted && f.dateDebut.errors" class="invalid-feedback">
                                    <div *ngIf="f.dateDebut.errors.required">La date de début est requis</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="dateFin">Date de début</label>
                                <input type="date" formControlName="dateFin" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.dateFin.errors }" />
                                <div *ngIf="submitted && f.dateFin.errors" class="invalid-feedback">
                                    <div *ngIf="f.dateFin.errors.required">La date de fin est requis</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lieu">Lieu du stage</label>
                                <input type="text" formControlName="lieu" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.lieu.errors }" />
                                <div *ngIf="submitted && f.lieu.errors" class="invalid-feedback">
                                    <div *ngIf="f.lieu.errors.required">Le lieu est requis</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button id="valid" [disabled]="loading" class="btn btn-link">Ajouter un stage</button>
                                <button class="btn btn-link">
                                    <a routerLink="/stage/list-stage">Retour</a>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>