.titre {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#retourButton {
    margin-left: 30px;
}

#retourButton:hover {
    color: black;
    background-color: gray;
    text-decoration: none;
}

#valid:hover {
    color: white;
    background-color: rgb(3, 90, 3);
}

button {
    background-color: rgb(60, 60, 60);
    color: white;
}

button a {
    color: white;
}


button:hover {
    color: black;
    background-color: gray;
    text-decoration: none;
}

@media (max-width: 768px){
    button {
        font-size: x-small;
        margin-top: 5px;
    }
    
  }