<div class="container-fluid">

    <div class="row justify-content-center">
        <div class="titre">
            <h1>Modification du stage</h1>
        </div>
    </div>

    <hr>

    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-xl-4">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <form *ngIf="stage" (ngSubmit)="onSubmit()" #editForm="ngForm">
                            <div class="form-group">
                                <label for="intitule">Intitulé de stage</label>
                                <input type="text" class="form-control" id="intitule" [(ngModel)]="stage.intitule"
                                    name="intitule" #intitule="ngModel" required="required" />
                                <div [hidden]="intitule.valid || intitule.pristine" class="card-panel red accent-1">
                                    Vous devez renseignez un intitule de stage.
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="numero">Numéro de stage</label>
                                <input type="text" class="form-control" id="numero" [(ngModel)]="stage.numero"
                                    name="numero" #numero="ngModel" required="required" />
                                <div [hidden]="numero.valid || numero.pristine" class="card-panel red accent-1">
                                    Vous devez renseignez un numéro de stage.
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="dateDebut">Date de début de stage</label>
                                <input type="date" class="form-control" id="dateDebut" [(ngModel)]="stage.dateDebut"
                                    name="dateDebut" #dateDebut="ngModel" required="required" />
                                <div [hidden]="dateDebut.valid || dateDebut.pristine" class="card-panel red accent-1">
                                    Vous devez renseignez une date de début de stage.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dateFin">Date de fin de stage</label>
                                <input type="date" class="form-control" id="dateFin" [(ngModel)]="stage.dateFin"
                                    name="dateFin" #dateFin="ngModel" required="required" />
                                <div [hidden]="dateFin.valid || dateFin.pristine" class="card-panel red accent-1">
                                    Vous devez renseignez une date de fin de stage.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lieu">lieu de stage</label>
                                <input type="text" class="form-control" id="lieu" [(ngModel)]="stage.lieu" name="lieu"
                                    #lieu="ngModel" required="required" />
                                <div [hidden]="lieu.valid || lieu.pristine" class="card-panel red accent-1">
                                    Vous devez renseignez un lieu de stage.
                                </div>
                            </div>

                            <h3 *ngIf="!stage" class="center">Aucun stage à éditer !</h3>

                            <!-- Submit button -->
                            <div class="center">
                                <button type="submit" id="valid" class="btn btn-link"
                                    [disabled]="!editForm.form.valid">
                                    Valider
                                </button>       
                                <button id="retourButton" class="btn btn-link">
                                    <a routerLink="/stage/info-stage/{{stage.id}}">Retour</a>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>