<div class="container-fluid">
  <div *ngIf="agent" class="row justify-content-center">
    <h1 class="titre">{{agent.nom}} {{agent.prenom}}</h1>
  </div>

  <hr><br>

  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8">
      <div class="card horizontal hoverable">
        <div class="card-stacked">
          <div class="card-content">
            <table class="bordered">
              <tbody>
                <tr>
                  <td>Nom et Prénom</td>
                  <td><strong>{{ agent.nom }} {{agent.prenom}}</strong></td>
                </tr>
                <tr>
                  <td>Centre de secours</td>
                  <td><strong>{{ agent.centre.nom }}</strong></td>
                </tr>
                <tr>
                  <td>Grade</td>
                  <td><strong>{{ agent.grade.intitule }}</strong></td>
                </tr>
                <tr>
                  <td>Matricule</td>
                  <td><strong>{{ agent.matricule}}</strong></td>
                </tr>
                <tr>
                  <td>Role</td>
                  <td *ngIf="agent.role === 'ADMIN'"><strong>Administrateur</strong></td>
                  <td *ngIf="agent.role === 'USER'"><strong>Utilisateur</strong></td>
                </tr>
                <tr>
                  <td>Compétences</td>
                  <td *ngIf="competenceAgent">
                    <span *ngFor="let competence of competenceAgent">
                      {{ competence.competence.intitule }}
                      <div *ngIf="competence.formateur === true">Formateur : Oui</div>
                      <div *ngIf="competence.formateur === false">Formateur : Non</div>
                      <br>
                    </span>
                  </td>
                  <td *ngIf="!competenceAgent">
                    <span>Aucune compétence attribuée à ce profil !</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-action">
            <button class="btn btn-link" (click)="goBack()">Retour</button>
            <button id="deleteAgent" class="btn btn-link" (click)="goDeleteAgent(agent)">Supprimer l'agent</button>
            <button class="btn btn-link" *ngIf="agent.role ==='USER'"
              (click)="goEditRoleForAdmin(agent)">Passer l'agent en administrateur</button>
            <button class="btn btn-link" *ngIf="agent.role ==='ADMIN'"
              (click)="goEditRoleForAdmin(agent)">Passer l'agent en utilisateur</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h4 *ngIf="!agent" class="center">
    <ressource-loader></ressource-loader>
  </h4>
</div>