<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-xl-6" *ngIf="URLFile">
      <br>
      <iframe [src]="URLFile" width="1400" height="1200"></iframe>
    </div>
    <div class="col-12 col-" *ngIf="ressource">
      <div class="row justify-content-center">
        <div class="titre">
          <h1>{{ressource.titre}} - {{ressource.module}}</h1>
          <p>Mise en ligne le {{ressource.dateCreation | date:'dd/MM/yyyy'}}</p>
        </div>
      </div>

      <div *ngIf="role === 'ADMIN'">
      <div class="row justify-content-center">
        <div class="col-12 col-xl-8">
          <button type="button" class="btn btn-primary" (click)="showForm()">
            Ajouter une note à la ressource
          </button>
          <hr>

          <div class="card m-3" *ngIf="isShow">
            <h5 class="card-header">Ajouter une note à la ressource</h5>
            <div class="card-body">
              <form [formGroup]="noteRessourceForm">
                <div class="form-row justi">
                  <div class="form-group col-12 col-xl-6">
                    <label for="titre">Titre</label>
                    <input type="text" formControlName="titre" class="form-control"
                      [ngClass]="{'is-invalid':submitted && f.titre.errors}" />
                    <div *ngIf="submitted && f.titre.errors" class="invalid-feedback">
                      <div *ngIf="f.titre.errors.required">Veuillez entrer un titre</div>
                    </div>
                  </div>
                  <div class="form-group col-12">
                    <label for="note">Note</label>
                    <textarea type="text" formControlName="note" [ngClass]="{'is-invalid':submitted && f.note.errors}">
                </textarea>
                    <div *ngIf="submitted && f.note.errors" class="invalid-feedback">
                      <div *ngIf="f.note.errors.required">Veuillez entrer une note</div>
                    </div>
                    <button id="valid" class="btn btn-link" [disabled]="noteRessourceForm.invalid" (click)="onSubmit()">Ajouter une note</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <hr>

      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-8">
        <div class="card m-3" *ngFor="let noteRessource of noteRessourceList">
          <div class="card-header">{{noteRessource.titre}}
            <button *ngIf="role === 'ADMIN'" id="deleteButton" class="btn btn-link"
              (click)="deleteNoteRessource(noteRessource)">
              Supprimer la note
            </button>
          </div>
          <div class="card-body">{{noteRessource.note}}</div>
        </div>
      </div>
    </div>
  </div>
</div>