.webviewer {
  width: 100%;
  height: 80;
}

.titre {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
  background-color: rgb(60, 60, 60);
  color: white;
}

button:hover{
  background-color: rgb(126, 126, 126);
}

#valid:hover {
  color: white;
  background-color: rgb(3, 90, 3);
  text-decoration: none;
}

#deleteButton {
  float: right;
  background-color: rgb(135, 1, 1);
  color: white;
}

.card-header {
  color: white;
  background-color: rgb(60, 60, 60);
}

@media (max-width: 1124px){
  iframe {
    width: 700px;
    margin-left: 0;
  }
  
}

@media (min-width: 1050px){
  iframe {
    width: 1400px;
    height: 1200px;
    margin-left: 0;
  }
  
}

@media (max-width: 400px){
  iframe {
    width: 375px;
    margin-left: 0;
  }
  
}