<div class="signup">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="titre">
        <h1>Inscription</h1>
      </div>
    </div>

    <hr><br>



    <div class="row justify-content-center">
      <div class="col-md-12 col-xl-6">
        <div class="card m-3">
          <div class="card-body">
            <form [formGroup]="registrerForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="prenom">Prénom</label>
                <input type="text" formControlName="prenom" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }" />
                <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
                  <div *ngIf="f.prenom.errors.required">Le prénom est requis</div>
                </div>
              </div>
              <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" formControlName="nom" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
                <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                  <div *ngIf="f.nom.errors.required">Le nom est requis</div>
                </div>
              </div>
              <div class="form-group">
                <label for="matricule">Matricule</label>
                <input type="text" formControlName="matricule" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.matricule.errors }" />
                <div *ngIf="submitted && f.matricule.errors" class="invalid-feedback">
                  <div *ngIf="f.matricule.errors.required">Le matricule est requis</div>
                  <div *ngIf="f.matricule.errors.confirmedMatricule">Le matricule est requis et doit contenir 4 chiffres
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" formControlName="password" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Le mot de passe est requis</div>
                  <div *ngIf="f.password.errors.minlength">Le mot de passe doit contenir au moins 6 caractères.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="confirmationPassword">Confirmer votre mot de passe</label>
                <input type="password" formControlName="confirmationPassword" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.confirmationPassword.errors }" />
                <div *ngIf="submitted && f.confirmationPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmationPassword.errors.required">La confirmation du mot de passe est requis</div>
                  <div *ngIf="f.confirmationPassword.errors.confirmedValidator">Les mot de passe doivent être similaire
                  </div>
                </div>
              </div>
              <!-- <div class="form-group">
                <label for="mail">Adresse mail</label>
                <input type="email" formControlName="mail" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.mail.errors }" />
                <div *ngIf="submitted && f.mail.errors" class="invalid-feedback">
                  <div *ngIf="f.mail.errors.required">L'adresse mail est requise</div>
                  <div *ngIf="f.mail.errors.email">Une addresse mail est requise</div>
                </div> -->
              <div class="form-group">
                <label for="grade"> Grade</label>
                <select formControlName="grade" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.grade.errors }">
                  <option *ngFor="let grade of gradeList" [ngValue]="grade">{{grade.intitule}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="centre">Centre</label>
                <select formControlName="centre" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.centre.errors }">
                  <option *ngFor="let centre of centreList" [ngValue]="centre">{{centre.nom}}</option>
                </select>
              </div>
              <div class="form-group">
                <div class="section center">
                  <button [disabled]="loading" id="valid" class="btn btn-primary">S'inscrire</button>
                  <button class="btn btn-link">
                    <a routerLink="/auth/signin">Retour</a>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>