.header {
  width: 100%;
}

.body {
    position: relative;
    margin-bottom: 10px;
    min-height: 800px;
}

.footer {
    
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 225px;
    background-image: url("../assets/images/anthracite.jpeg");  
    background-size: 100%;  
    background-size: cover; 
}

@media (max-width: 768px){
    .body{
      font-size: small;
    }

    .header {
      height: inherit;
    }

  }