<div *ngIf="agent" class="row">
  <div class="col-xs-12 col-md-12 col-lg-6">
    <div class="titre">
      <h1>Mon profil</h1>
    </div>

    <hr>

    <div class="card horizontal hoverable">
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered">
            <tbody>
            <tr>
              <td>Nom et Prénom</td>
              <td><strong>{{ agent.nom }} {{agent.prenom}}</strong></td>
            </tr>
            <tr>
              <td>Centre de secours</td>
              <td><strong>{{ agent.centre.nom }}</strong></td>
            </tr>
            <tr>
              <td>Grade</td>
              <td><strong>{{ agent.grade.intitule }}</strong></td>
            </tr>
            <tr>
              <td>Matricule</td>
              <td><strong>{{ agent.matricule}}</strong></td>
            </tr>
            <tr>
              <td>Compétences</td>
              <td *ngIf="competenceAgent">
                <span *ngFor="let competence of competenceAgent">
                  {{ competence.competence.intitule }}
                  <div *ngIf="competence.formateur === true">Formateur : Oui</div>
                  <div *ngIf="competence.formateur === false">Formateur : Non</div>
                  <br></span>
              </td>
              <td *ngIf="!competenceAgent.length">
                <span>Aucune compétence attribuée à ce profil !</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-action">
        <button class="btn btn-link">
          <a (click)="goEditProfil(agent)">Editer le profil</a>
        </button>
        <button class="btn btn-link">
          <a (click)="goEditCompetence(competenceAgent, agent)">Editer ses compétences</a>
        </button>
        <button class="btn btn-link">
          <a (click)="goEditPassword(agent)">Modifier son mot de passe</a>
        </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-md-12 col-lg-6">
    <div class="titre">
      <h1>Mes stages</h1>
    </div>

    <hr>

    <div class="card horizontal hoverable">
      <div class="card-stacked">
        <div class="card-content">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Intitule du stage</th>
                <th scope="col">Numéro du stage</th>
                <th scope="col">Lieu</th>
                <th scope="col">---</th>
              </tr>
            </thead>
            <tbody *ngIf="stageList">
              <tr *ngFor="let stage of stageList">
                <td>{{ stage.intitule }}</td>
                <td>{{ stage.numero }}</td>
                <td>{{ stage.lieu }}</td>
                <td>
                  <button class="btn btn-link"
                      (click)="selectStage(stage.id)">
                    Stage
                  </button>
                </td>
              </tr>
            </tbody>
            <p *ngIf="!stageList">Aucun stage</p>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<h4 *ngIf="!agent" class="center">
  <ressource-loader></ressource-loader>
</h4>
