.titre {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    background-color: rgb(60, 60, 60);
    color: white;
}

button:hover {
    color: black;
    background-color: gray;
    text-decoration: none;
}

button:focus {
    background-color: gray;
    text-decoration: none;
    color: white;
}

button a {
    color: white;
}

#deleteButton{
    background-color: rgb(135, 1, 1);
    color: white;
}

#deleteButton:hover {
    text-decoration: underline;
}

h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (max-width: 2200px){
    button {
        font-size: x-small;
    }
    
  }