<div class='container-fluid'>

  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-md-3 col-xl-2">
      <div class="card horizontal hoverable">
        <img src="../../../../assets/images/suap.png" height="150" />
        <button class="waves-effect waves-light btn" (click)="selectOtherRessource('SUAP')">
          SUAP
        </button>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-xl-2">
      <div class="card horizontal hoverable">
        <img src="../../../../assets/images/sr.png" height="150" />
        <button class="btn btn-link" (click)="selectOtherRessource('SR')">
          Secours Routier
        </button>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-xl-2">
      <div class="card horizontal hoverable">
        <img src="../../../../assets/images/incendie.png" height="150" />
        <button class="btn btn-link" (click)="selectOtherRessource('INC')">
          Incendie
        </button>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-xl-2">
      <div class="card horizontal hoverable">
        <img src="../../../../assets/images/autres.png" height="150" />
        <button class="btn btn-link" (click)="selectOtherRessource('AUTRES')">
          Autres
        </button>
      </div>
    </div>
  </div>

  <hr>

  <div class="row justify-content-center">
    <div class="titre">
      <h1>Ressources <strong>{{currentModule}}</strong></h1>
    </div>
  </div>

  <hr>

  <div class="row justify-content-center">
    <li routerLinkActive="active" *ngIf="role === 'ADMIN'">
      <button class="btn btn-link">
        <a routerLink="/ressources/addRessource">Ajouter une ressource</a>
      </button>
    </li>
  </div>

  <div class="row justify-content-center">
    <div *ngFor='let ressource of ressourceList' class="col-12 col-sm-6 col-md-4 col-xl-2">
      <div class="card horizontal" pkmn-border-card>
        <div class="card-stacked">
          <div class="card-content">
            <h2>{{ ressource.titre }}</h2>
          </div>
            <button class="btn btn-link" (click)="selectRessource(ressource)">
              Voir la ressource
            </button>
            <button id="deleteButton" class="btn btn-link" *ngIf="role === 'ADMIN'" (click)="deleteRessource(ressource)">
              Supprimer la ressource
            </button>
        </div>
      </div>
    </div>
  </div>
</div>