.titre {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    background-color: rgb(60, 60, 60);
    color: white;
    margin-left: 30px;
}

button:hover {
    color: black;
    background-color: gray;
}

a {
    color: white;
}

.form-group {
    text-align: center;
}

.card  {
    border-radius: 10px;
}

@media (max-width: 768px){
    button {
        font-size: x-small;
        margin-top: 5px;
    }
    
  }