<div class="container-fluid">
  <div class="titre">
    <h1>Authentification</h1>
  </div>
  <hr><br>
  <div class="row justify-content-center">
    <div class="col-md-12 col-xl-4">
      <div class="card horizontal hoverable">
        <div class="card-content">
          <div class="col-8 offset-2">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="matricule"></label>
                <input placeholder="Matricule" type="text" formControlName="matricule" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.matricule.errors }" />
                <div *ngIf="submitted && f.matricule.errors" class="invalid-feedback">
                  <div *ngIf="f.matricule.errors.required">Matricule</div>
                </div>
              </div>
              <div class="form-group">
                <label for="password"></label>
                <input placeholder="Mot de passe" type="password" formControlName="password" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Mot de passe</div>
                </div>
              </div>
              <div class="alert alert-light" role="alert">{{ message }}</div>
              <div class="section center">
                <button [disabled]="loading" class="btn btn-link">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Se connecter
                </button>
                <button class="btn btn-link">
                  <a routerLink="/auth/signup">S'inscrire</a>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>