<div class='container-fluid'>
    <div class="row justify-content-center">
        <div class="titre">
            <h1>Stages</h1>
        </div>
    </div>

    <hr>

    <div class="row justify-content-center">
        <li routerLinkActive="active" *ngIf="role === 'ADMIN'">
            <button class="btn btn-link">
                <a routerLink="/stage/add-stage">Ajouter un stage</a>
            </button>
        </li>
    </div>

    <div class="row justify-content-center">
        <div class="col-xs-12 col-md-12 col-xl-8">
            <div class="card horizontal hovrable">
                <div class="card-content">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Intitule</th>
                                <th scope="col">Numéro</th>
                                <th class="date" scope="col">Date début de stage</th>
                                <th class="date" scope="col">Date fin de stage</th>
                                <th scope="col">Lieu du stage</th>
                                <th scope="col">---</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let stage of stageList">
                            <tr>
                                <td>{{ stage.intitule }}</td>
                                <td>{{ stage.numero }}</td>
                                <td class="date">{{ stage.dateDebut | date:'dd/MM/yyyy'}}</td>
                                <td class="date">{{ stage.dateFin | date:'dd/MM/yyyy'}}</td>
                                <td>{{ stage.lieu }}</td>
                                <td>
                                    <button class="btn btn-link" *ngIf="role === 'ADMIN'"
                                        (click)="selectStage(stage.id)">
                                        Voir le stage
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>