.titre {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    background-color: rgb(60, 60, 60);
    color: white;
    margin-left: 50px;
}

button:hover {
    color: black;
    background-color: gray;
    text-decoration: none;
}

button a {
    color: white;
}

@media (max-width: 1024px){
    button {
        font-size: x-small;
        margin-top: 5px;
    }
    
  }

  @media (max-width: 768px){
    button {
        font-size: xx-small;
        margin-top: 5px;
    }

    th, td {
        font-size: xx-small;
    }    

    .date {
        display: none;
    }
    
  }
